<h2>Cadastro de Coisas</h2>

<form>
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="key" name="key"
                placeholder="Digite o ID"
                [(ngModel)]="cadastro.key"
                readonly>
    </div>  
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome"
                placeholder="Digite seu nome"
                [(ngModel)]="cadastro.nome">
    </div>    
    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="number" class="form-control" id="cadastro" name="cadastro"
                placeholder="Digite a qunatidade"
                [(ngModel)]="cadastro.quantidade">
    </div>
    <button class="btn btn-primary" (click)="salvar()">Salvar</button> 
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>    
            <th>Nome</th>    
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cadastro of cadastros">
            <td>{{ cadastro.key }}</td>
            <td>{{ cadastro.nome }}</td>
            <td>{{ cadastro.quantidade }}</td>
            <td><button class="btn btn-primary"
                (click)="carregar(cadastro)">Alterar</button></td>
            <td><button class="btn btn-primary"
                (click)="excluir(cadastro.key)">Excluir</button></td> 
        </tr>
    </tbody>
</table>